[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "letsHerp"]
	path = letsHerp
	url = https://github.com/joao-svalencar/letsherp
